@model IEnumerable<ClientesProdutos.ViewModels.ClientProduct.GetClientProductViewModel>

<div class="text-primary fs-4">Produtos ligados a Clientes</div>
<br/>

<form asp-action="Index" method="get">
    <table class="table table-bordered table-hover">
        <thead>
        <td>
            @Html.DisplayNameFor(model => model.ClientName)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.Email)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.ProductName)
        </td>
        </thead>
    </table>
</form>