@model GetClientViewModel
<h3 class="text-warning">Atualizar dados do produto</h3>
<hr/>
<div class="row">
    <div class="col-md-4"></div>
    <form asp-action="Edit">
        <input asp-for="Id" hidden/>
        <div class="form-group">
            <label asp-for="ClientName">Nome</label>
            <input asp-for="ClientName" type="text" class="form-control w-75"/>
            <span asp-validation-for="ClientName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName">Sobrenome</label>
            <input asp-for="LastName" type="text" class="form-control w-75"/>
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" type="email" class="form-control w-75"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Active">Ativo?</label>
            <input class="form-check-input" asp-for="Active"/>
        </div>
        <h4></h4>
        <div class="form-group">
            <input class="btn btn-primary rounded-1 m-1" type="submit" value="Editar"/>
            <a class="btn btn-secondary rounded-1 m-1" asp-action="Index">Retornar a Lista</a>
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}