@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Boas-vindas 👋</h2>
    <p class="text-black">Sistema simples para cadastro de clientes e produtos</p>
</div>