<div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/oracle/oracle-original.svg" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">Peculiaridade Oracle - 01</h6>
                    <p class="mb-0 opacity-75">Para evitar SQL Injection, devemos usar : e não @@.</p>
                    <p>
                        Exemplo:
                        <code>WHERE ID = :Id</code>
                    </p>
                </div>
                <small class="opacity-50 text-nowrap">now</small>
            </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/oracle/oracle-original.svg" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">Peculiaridade Oracle - 02</h6>
                    <p class="mb-0 opacity-75">Queries apenas funcionam sem ; no final, ao menos via Dapper.</p>
                    <p>
                        Exemplo:
                        <code>SELECT ID, NAME, LAST_NAME, EMAIL, ACTIVE FROM CLIENTS</code>
                    </p>
                </div>
                <small class="opacity-50 text-nowrap">3d</small>
            </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/oracle/oracle-original.svg" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">Peculiaridade Oracle - 03</h6>
                    <p class="mb-0 opacity-75">Mapear entidades utilizando a data annotation [Column()] não é tão simples quanto parece.</p>
                </div>
                <small class="opacity-50 text-nowrap">1w</small>
            </div>
        </a>
    </div>
</div>
<h4></h4>
<div>
    <a class="btn btn-secondary rounded-1 mb-1" asp-action="Index">Retornar a Lista</a>
</div>